[Desktop Entry]
Type=Application
Name=Ultimate Color Switcher
GenericName=Dotfiles Color Theme Switcher
Comment=Detect, remap and apply colors across your dotfiles
Exec=ucs gui
Icon=ucs
Terminal=false
Categories=Utility;Settings;
StartupNotify=true
